<div class="row">
  <div class="col-md-12">
    <h1>{{user.name}}</h1>
  </div>
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.image}} " style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <ul class="list-unstyled">
      <li><strong>{{user.name}}</strong> </li>
      <li>{{user.email}}</li>
    </ul>
    {{#ifCond user.id profile.id}}
    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-primary">Edit</button>
    </a>
    {{/ifCond}}
  </div>

  <hr>
</div>

<div class='card mt-3'>
  <div class='row'>
    <div class="col-md-12">
      <div class="card-header">{{profile.Comments.length}} 已評論餐廳</div>
      <div class="card-body">
        {{#each profile.Comments}}
        <a href="/restaurants/{{this.Restaurant.id}}">
          <img src="{{this.Restaurant.image}}" style="width: 6rem;" alt="{{this.Restaurant.image}}">
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <br />
  <br />